.App {
  text-align: center;
  background-color: rgb(34, 34, 32);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: rgb(255, 240, 194);
  padding: 0 0 10px 0;
  color:rgb(0, 0, 0);
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  font-family: Helvetica, sans-serif;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  padding: 4px;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 380px;
}

.nav-links li {
  padding: 4px;
  border: 2px solid black;
  margin: 1px;
  background-color: antiquewhite;
  border-radius: 2px;
}

.nav-links a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}

.button-row {
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 3px;
  width: 100%;
}

.button {
  background-color: #d5ebff;
  color: #0b2e2e;
  border: none;
  padding: 7px 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  font-weight: 600;
  border: 1px solid black;
  flex-basis: 30%;
}

.button:hover {
  background-color: #82ffc9;
}

marquee{
  background-color: rgb(161, 6, 58);
  margin: 0px;
  padding: 8px;
}

.result{
  margin: -20px 0px;
}

.satta{
  background-color: rgb(255, 162, 0);
  padding: 15px;
  color: black;
  margin-top: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.col-block{
  display: flex;
  margin: 2px 0px;
  padding: 4px 0px;
  background-color: #a3fad7;
}

.block{
  flex-basis: 36%;
  margin:0 7px;
  padding: 0 4px;
  text-justify: distribute;
  color: rgb(98, 0, 0);
  border: 2px solid rgb(6, 6, 6);
  border-radius: 2px ;
}

.w-button{
  margin: 5px;
  padding: 4px 10px;
  background-color: #044720;
  color: rgb(255, 255, 255);
  border-radius: 7px;
}

.c-button{
  margin: 5px;
  padding: 4px 10px;
  background-color: #160e72;
  color: rgb(255, 255, 255);
  border-radius: 7px;
}

hr{
  border: 1px solid rgb(66, 66, 66);
}

.places{
  display: flex;
  padding: 5px 0px;
}

.place{
  flex-basis: 33%;
  background-color: #008cff;
  border-radius: 8px;
  margin: 0 2px;
  padding: 2px;
  color: rgb(0, 0, 0);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table{
  margin: auto;
  padding: 5px;
  background-color: #075226;
  color: #fff;
  margin-bottom: 10px;
  width: 100%;
}

table p{
  background-color: #fdfdc5;
  margin: 1px;
  border-radius: 4px;
  color: #000000;
  padding: 2px;
}

.table1{
  margin-top: auto;
}

.close-btn{
  color: white;
  background-color: red;
  font-weight: 600;
  border-radius: 5px;
  margin: 20px;
}

.show{
  background-color: rgb(91, 3, 29);
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
}

.notice{
  background-color: #005aa8;
  color: rgb(39, 255, 1);
  padding: 4px;
}

.p1{
  color: rgb(255, 87, 87);
  margin: 0;
}

.p2{
  color: rgb(80, 255, 246);
  margin: 0;
}

.p3{
  color: #15e56c;
  margin: 0;
}

.p4{
  color: yellow;
  margin: 0;
}

tr{
  border: 3px solid black;
}

th{
  color: coral;
}

td{
  color: rgb(239, 243, 0);
}

.head
{
  border:1px solid white;
}

.popup{
  margin: auto;
}

.tab1{
  margin: 0px;
  padding: 4px;
  justify-content:center;
  background-color: rgb(255, 240, 194);
  width: 100%;
}

.months{
 margin-top: auto;
}



.monthsl{
  background-color: rgb(255, 240, 194);
  margin: 0px;
  padding: 4px;
  width: 100%;
  justify-content:center;
}

.monthsl h2
{
  color: black;
  margin: 1px;
  padding: 5px;
}

.tab1 h2
{
  color: black;
  margin: 1px;
  padding: 5px;
}

.section{
  background-color: #ade6ff;
  padding: 4px;
  border: 1px solid black;
}

/* YourComponent.css */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 800px; /* Adjust as needed for your layout */
}

.flex-container a {
  flex: 0 0 calc(33.33% - 10px); /* 4 items per row on smaller screens (adjust as needed) */
  margin: 5px;
  height: 100px; /* Adjust the height as needed */
  background-color: #ffe24fd7;
  text-align: center;
  line-height: 100px;
  flex-wrap: wrap;
  text-decoration: none;
}

.rec-head{
  color: black;
  background-color: rgb(248, 0, 50);
  margin: 2px;
  padding: 3px;
}

.ldb{
  background-color: #c3fbd6;
  color: rgb(0, 0, 0);
  padding: 5px;
  margin-bottom: 4px;
}

.bld{
  background-color: rgb(236, 95, 255);
  color: blue;
  padding: 5px;
}

.fixed-button-container {
  position: relative; /* Container must have a non-static position */
  width: 100%;
  height: 10px;
}

.fixed-button {
  position: fixed; /* Fixed position to keep the button fixed on the screen */
  bottom: 20px; /* Adjust the button's position from the bottom as needed */
  right: 20px; /* Adjust the button's position from the right as needed */
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the button when hovered */
.fixed-button:hover {
  background-color: #0056b3;
}


@media (min-width: 800px) {
  .flex-container a {
    flex-basis: calc(16.666% - 10px); /* 6 items per row on larger screens (adjust as needed) */
  }
}


@media(max-width:1000px)
{
  .col-block{
    flex-direction: column;
  }  
  hr{
    width: 90%;
  }
  .places{
    flex-direction: column;
  }
  th{
    font-size:x-small;
  }
  .tab1{
    flex-direction: column;
  }
  .monthsl{
    flex-direction: column;
  }
  .place{
    margin: 0 10px;
  }
}

